@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Roboto&family=Rock+Salt&family=RocknRoll+One&display=swap');


.App {
  text-align: center;
}

/* CUSTOM CSS
COLOR PALATTE
Copper Crayola - DD7245
Lavendar Blue - C5CDF1
Silver - C0C0C0
Russian Violet - #1E064B

font-family: 'Raleway', sans-serif; <<--Description
font-family: 'Rock Salt', cursive; <<--Titles

font-family: 'Roboto', sans-serif;
font-family: 'RocknRoll One', sans-serif; */

/* Base level CSS */
#root {
  /* background-color: white; */
  /* font-family: ;   */
  color: black;
  width: auto;
  height: 100vh;
  overflow-x: hidden;
  /* background-image: url(./assests/adi-goldstein-FU5uVjZSMMw-unsplash.jpg);   */
  /* background-image: url(./assests/sagar-patil-8UcNYpynFLU-unsplash.jpg);  */
  /* background-image: url(./assests/luke-besley-Mdz-EpieP3A-unsplash.jpg);  */
  background-image: url(./assests/siora-photography-QkuVykuAo84-unsplash.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2%;
  color: #1E064B;
  font-family: 'Raleway', sans-serif;
}

#formBackground{
  background-color: #DEE2F7;
  opacity: .8;
  /* border-radius: 1%; */
  padding: 1.5%;
  border: 4px solid #1e064b;
}

#formBackgroundAlmostFull{
  background-color: #DEE2F7;
  opacity: .9;
  /* border-radius: 1%; */
  padding: 1.5%;
  border: 4px solid #1E064B;
}

#formBackgroundNearlyFull{
  background-color: #DEE2F7;
  opacity: .96;
  /* border-radius: 1%; */
  padding: 1.5%;
  border: 4px solid #1e064b;
}

#formBackgroundOpposite{
  background-color: #1E064B;
  opacity: .8;
  /* border-radius: 1%; */
  padding: 1.5%;
  border: 4px solid #DEE2F7;
  color: #DEE2F7
  }

  #formBackgroundOppositeAlmostFull{
    background-color: #1E064B;
    opacity: .93;
    /* border-radius: 1%; */
    padding: 1.5%;
    border: 4px solid #DEE2F7;
    color: #DEE2F7
    }

#formLabels{
  font-size: 1.25em;
  text-align: right;
}

#formLabelsSmaller {
  font-size: 1.15em;
  text-align: right;
}

#formButton {
  transition: 0.4s;
  background-color: #1e064b;
  border: 2px solid #1e064b;
  color: #c5cdf1;
  font-size: 1.25em;
}

#formButton:hover {
  background-color: #c5cdf1;
  border: 2px solid #1e064b;
  color: #1e064b;
}

.form-check {
  text-align: left !important;
}

#splashPageBackground{
  background-color: #DEE2F7;
  /* opacity: .8; */
  /* border-radius: 1%; */ 
  padding: 1.5%; 
  border: 4px solid #1E064B;
}

#splashPageHeader {
  font-size: 4em;
  
}

#splashPageWords {
  font-size: 3em;
}

#splashPageDescription{
  font-size: 1.75em
}

#modalBackground{
  background-color: #1E064B;
  opacity: .95;
  /* border-radius: 1%; */
  padding: .3%;
  border: 4px solid #1E064B;
  border-radius: 3%;
  color: #1E064B;
  text-align: center;
  }

#footer {
  background-color: #C5CDF1;
  opacity: .8;  
  color: #1E064B;
  position: fixed;
  bottom: 0;
  height: 6%;
  width: 100vw;
  margin: 0-2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #1e064b;
}

#header {

  background-color: #C5CDF1;
  opacity: .8;  
  color: #1E064B;
  position: fixed;
  top: 0;
  height: 6%;
  width: 100vw;
  margin: 0-2%;
  padding: 1%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
